# stickers/scan sheets
datasets/

# just to name files:
trainers/FileHandler.py
*.pt

# trained models
models/

#detection predictions
trainers/runs/

__pycache__/
.venv/
.idea/

Final_Medical_Report.xlsx

# testing files
main_pipeline.py
OCR.py